# Have git ignore these files/directories:

alarm.oga
amundsen_excludes.txt
brave_ad_check.sh
copy_colors_to_grass.sh
copy_everything.sh
download_script.php
download_script.php
dropbox.py
Erics_Configure.txt
grass_label_import.tar.gz
Haxby_RGB_values.txt
ntv2_100325.zip
optimal_optipng_settings.txt
plotter
proj-datumgrid-1.5.zip
r4toASCII
restore_resource_files.sh
send.py
ship_rsync.sh
sounds.wav
start_monerod.sh
transpose
transpose-2.0.zip
Configure_Scripts/
c-training/
duplicity_backup_scripts/
GRASS_Models/
Hudson_scripts/
Nistad/
Official_Colorbars/
